/* -------------------------------------------------------------- \\
 * -------------------------------------------------------------- //
 * Variables
 * -------------------------------------------------------------- \\
** -------------------------------------------------------------- */

:root {

    /* Colors */
    --perp--eggshell: #FBFAF4;
    --perp--eggshell--darker: #c9c8bb;
    --perp--lightGray: #8f8f8f;
    --perp: #21808d;
    --perp--dark: #13343b;
    --perp--darkest: #091717;
    --perp--darkest--rgb: 9, 23, 23;

}

/* -------------------------------------------------------------- \\
 * -------------------------------------------------------------- //
 * Typography
 * -------------------------------------------------------------- \\
** -------------------------------------------------------------- */

html {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
    font-family: 'Instrument Serif', system-ui;
    font-weight: normal!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

h1 {
    letter-spacing: -.1px;
    line-height: 1.1;
    margin-bottom: 33px!important;
}

h5 {
    font-weight: 500!important;
}

@media screen and (min-width: 768px) {
    
    h1 {
       font-size: 86px!important; 
    }

    h5 {
        font-size: 24px!important;
    }

}

/* -------------------------------------------------------------- \\
 * -------------------------------------------------------------- //
 * Galleries
 * -------------------------------------------------------------- \\
** -------------------------------------------------------------- */

/* ----------------------- \\
 * Dropdown Filter
** ----------------------- */

div[data-testid=horizontal-filters-list] button {
    width: 250px!important;
}

div[data-testid=horizontal-filters-list] button:hover:before {
    background-color: var(--perp--eggshell)!important;
}

/* Hide search option on desktop */
div[data-testid=horizontal-filters-list] button + div > div > div:first-child {
    display: none;
}

/* ----------------------- \\
 * Gallery Cards
** ----------------------- */

div.softr-grid-container div[data-testid=grid-item] {
    border: 2px solid #FFF;
    transition: border-color .5s;
}

div[data-testid=grid-item]:has( > a:hover) {
    background: white!important;
    border-color: var(--perp);
}

.softr-grid-container div[data-testid=grid-item] > div {
    padding: 18px 20px 6px;
}

/* Above-title text */
.softr-grid-container div[data-testid=grid-item] div[data-vertical-alignment=top] > div:first-child p {
    font-size: 11px;
    margin: 2px 0 5px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    color: var(--perp);
}

/* Title */
div[data-testid=grid-item] div[data-vertical-alignment=top] h4 {
    margin: 0 0 3px;
    line-height: 1.25;
    font-size: 26px;
}

div.softr-grid-container div[data-testid=grid-item] div[data-vertical-alignment=top] > div:not(:first-child) p {
    color: var(--perp--darkest);
    opacity: .6;
    font-size: 1rem!important;
    line-height: 1.4;
}

/* Custom tags from Notion formula */
.nutt__customTags span {
    color: var(--perp--lightGray);
    border: .5px solid;
    padding: 5px 7px;
    margin-top: 6px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    letter-spacing: -.1px;
    line-height: 1;
    font-weight: 400;
    font-size: 9px;
    transition: color .5s;
}

div[data-testid=grid-item]:has( > a:hover) .nutt__customTags span {
    color: var(--perp);
}

/* -------------------------------------------------------------- \\
 * -------------------------------------------------------------- //
 * Custom Blocks
 * -------------------------------------------------------------- \\
** -------------------------------------------------------------- */

/* ----------------------- \\
 * #header-simple
** ----------------------- */

#header-simple {
    background: var(--perp--eggshell)!important;
}

.headerSimple__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-simple img {
    width: 70%;
    max-width: 260px;
}

.headerSimple__button {
    border: 1px solid;
    line-height: 1!important;
    color: var(--perp--dark);
    border-radius: 100px;
    padding: 11px 20px;
    font-size: 15px;
}

/* ----------------------- \\
 * #page-titles
** ----------------------- */

#page-titles section {
    padding: 44px 0 50px!important;
}

#page-titles h5 {
    color: var(--perp--dark);
    opacity: .5;
}
