/* -------------------------------------------------------- \\
 * Variables
** -------------------------------------------------------- */

:root {
    --perp--eggshell: #FBFAF4;
    --perp--eggshell--darker: #c9c8bb;
    --perp--lightGray: #8f8f8f;
    --perp: #21808d;
    --perp--dark: #13343b;
    --perp--darkest: #091717;
    --perp--darkest--rgb: 9, 23, 23;
}

/* -------------------------------------------------------- \\
 * Vertical Filters
** -------------------------------------------------------- */

div[data-testid=vertical-filters-list] {
    max-width: 200px!important;
}


/* Heading */
div[data-testid=vertical-filters-list] > div > div {
    margin-bottom: 6px;
}

div[data-testid=vertical-filters-list] li > button > div {
    font-size: 12px;
}

div[data-testid=vertical-filters-list] li button:hover,
div[data-testid=vertical-filters-list] li button:hover:before,
div[data-testid=vertical-filters-list] li button[data-active=true] {
    color: var(--perp);
    border-color: var(--perp)!important;
    background: transparent!important;
}

div[data-testid=vertical-filters-list] li button[data-active=true]:before {
    border-width: 1px !important;
}

/* -------------------------------------------------------- \\
 * Gallery Cards
** -------------------------------------------------------- */

div.softr-grid-container div[data-testid=grid-item] {
    border: 2px solid #FFF;
    transition: border-color .5s;
}

div[data-testid=grid-item]:has( > a:hover) {
    background: white!important;
    border-color: var(--perp--dark);
}

.softr-grid-container div[data-testid=grid-item] > div {
    padding-top: 18px;
    padding-bottom: 6px;
}

/* Above-title text */
#tool-gallery div[data-vertical-alignment=top] > div:first-child p {
    font-size: 11px;
    margin: 2px 0 5px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    color: var(--perp);
}

div[data-testid=grid-item] div[data-vertical-alignment=top] h4 {
    margin: 0 0 2px;
    line-height: 1.25;
    font-size: 17px;
}

div.softr-grid-container div[data-testid=grid-item] p:not(:first-of-type) {
    color: var(--perp--darkest);
    opacity: .4;
}

.nutt__customTags span {
    color: var(--perp--lightGray);
    border: .5px solid;
    padding: 5px 7px;
    margin-top: 6px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    letter-spacing: -.1px;
    line-height: 1;
    font-weight: 400;
    font-size: 9px;
    transition: color .5s;
}

div[data-testid=grid-item]:has( > a:hover) .nutt__customTags span {
    color: var(--perp);
}

/* -------------------------------------------------------- \\
 * Specific Collection: #tool-gallery
** -------------------------------------------------------- */

/* Hide unused div to prevent gap */
#tools-gallery div[data-testid=grid-item] div[data-vertical-alignment=bottom] > div:last-of-type {
    display: none;
}
