div[id="home/logo"] .container {
  max-width: 500px;
}

div[category="List Details"] section {
  gap: 40px!important;
  align-items: center;
}

div[category="List Details"] section h1 {
  font-size: 28px!important;
}

div[category="List Details"] section p {
  font-size: 16px;
  max-width: 750px;
  line-height: 150%;
}