/*--------------------------------------
 * Variables
 *--------------------------------------*/

 html {
    --color--dark: #0d0c22;
    --color--eggshell: #FFFEFA;
}

/*--------------------------------------
 * Typography
 *--------------------------------------*/

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 150%;
}

/*--------------------------------------
 * Root + Body
 *--------------------------------------*/

html,
body {}

/*--------------------------------------
 * Header
 *--------------------------------------*/

div[category="Header"],
div[category="Header"] div:not(.MuiBackdrop-invisible, .MuiPopover-root),
div[category="Header"] div.sw-background-color-ffffff,
header.MuiPaper-root.sw-background-color-ffffff {
    background-color: var(--color--eggshell)!important;
}

div[category=Header] a span {
    color: var(--color--dark) !important;
}

#header-vertical {
    width: 250px !important;
}

#header-vertical~div {
    margin-left: 250px !important;
}

#header-vertical .navbar-brand {
    margin: 20px 0;
}

#header-vertical a span {
    padding-left: 10px;
}

/*--------------------------------------
 * All List Layouts
 *--------------------------------------*/

/* All list titles */
div[category="List"]>section>div>div>h2 {
    letter-spacing: -.2px;
}

/* First Title */
div[category=Header]+div[category="List"]>section>div>div>h2,
div[category=Header]+div[category="Inbox"]>section>div>div>h2 {
    text-align: center !important;
    margin-bottom: 30px;
    font-size: 28px;
}

/* Other (not first) list titles */
#page-content div[category="List"]:not(:nth-of-type(2))>section>div>div>h2 {
    font-size: 25px !important;
}

/* Item background */
div[category="List"] div[role="listitem"] {
    background: #ffffff !important;
}

div[category="List"] p {
    font-size: 14px !important;
}

/*--------------------------------------
 * Grids
 *--------------------------------------*/

/* Card title margin */
div[id*="grid"] div[role="listitem"]>div:not(:first-of-type) {
    margin: auto 24px;
}

div[id*="grid"] div[role="listitem"]>div:last-of-type {
    margin-bottom: 5px;
}

/* Background gradients */

div[id*="grid"] div[role="listitem"]:first-of-type>div:first-of-type,
div[id*="grid"] div[role="listitem"]:nth-of-type(6n + 1)>div:first-of-type {
    background: linear-gradient(45deg, #fbf6ee 20%, #d0eef2 80%, #cadafa 100%);
}

div[id*="grid"] div[role="listitem"]:nth-of-type(2)>div:first-of-type,
div[id*="grid"] div[role="listitem"]:nth-of-type(6n + 2)>div:first-of-type {
    background: linear-gradient(45deg, #cadafa 10%, #fcf0d5 60%, #fbf6ee 100%);
}

div[id*="grid"] div[role="listitem"]:nth-of-type(3)>div:first-of-type,
div[id*="grid"] div[role="listitem"]:nth-of-type(6n + 3)>div:first-of-type {
    background: linear-gradient(45deg, #fbf6ee 0, #f5e1f2 60%, #cadafa 100%);
}

div[id*="grid"] div[role="listitem"]:nth-of-type(4)>div:first-of-type,
div[id*="grid"] div[role="listitem"]:nth-of-type(6n + 4)>div:first-of-type {
    background: linear-gradient(-45deg, #fbf6ee 20%, #d0eef2 80%, #cadafa 100%);
}

div[id*="grid"] div[role="listitem"]:nth-of-type(5)>div:first-of-type,
div[id*="grid"] div[role="listitem"]:nth-of-type(6n + 6)>div:first-of-type {
    background: linear-gradient(-45deg, #cadafa 10%, #fcf0d5 60%, #fbf6ee 100%);
}

div[id*="grid"] div[role="listitem"]:nth-of-type(6)>div:first-of-type,
div[id*="grid"] div[role="listitem"]:nth-of-type(6n + 6)>div:first-of-type {
    background: linear-gradient(-135deg, #fbf6ee 0, #f5e1f2 60%, #cadafa 100%);
}

/*--------------------------------------
 * Inboxes
 *--------------------------------------*/

div[id*=inbox][category=Inbox],
div[id*=inbox][category=Inbox] .MuiGrid-item div {
    background-color: var(--color--eggshell) !important;
}

div[id*=inbox][category=Inbox] .MuiGrid-item div.css-1cha9tj,
div[id*=inbox][category=Inbox] .MuiGrid-item div.css-1cha9tj div {
    background-color: rgb(246 244 244) !important;
}

div[id*=inbox][category=Inbox]>section {
    padding-top: 50px !important;
}

/*--------------------------------------
 * List Details (and Inbox Bodies)
 *--------------------------------------*/

div[category="List Details"] {
    max-width: 950px;
    margin: 0 auto;
}

div[category="List Details"] .sections-wrapper section,
div[category="List Details"] .sections-wrapper section div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

div[category="List Details"] h1 {
    font-size: 40px !important;
    letter-spacing: -.2px;
    font-weight: 700 !important;
    line-height: 1 !important;
}

div[category="List Details"] h3,
.inbox-list-container .MuiGrid-item:nth-child(2) h3 {
    margin-bottom: 16px !important;
}

div[category="List Details"] h3,
.inbox-list-container .MuiGrid-item:nth-child(2) h3:not(:first-child) {
    margin-top: 34px;
}

div[category="List Details"] iframe,
div[category="Inbox"] iframe {
    margin: 30px auto !important;
    display: block;
}